<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>demoApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>demoApp.ServletAdd</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>


<servlet>
  <servlet-name>abc2</servlet-name>
  <servlet-class>demoApp.ServletSubstract</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc2</servlet-name>
  <url-pattern>/substract</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>abc3</servlet-name>
  <servlet-class>demoApp.ServletDivide</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc3</servlet-name>
  <url-pattern>/divide</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>abc4</servlet-name>
  <servlet-class>demoApp.ServletMultiply</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc4</servlet-name>
  <url-pattern>/multiply</url-pattern>
  </servlet-mapping>


  <servlet>
  <servlet-name>abc5</servlet-name>
  <servlet-class>demoApp.ServletArmstrong</servlet-class>
  
    <init-param>
  <param-name>name
  </param-name>
  <param-value>Many people 
  </param-value>
  </init-param>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc5</servlet-name>
  <url-pattern>/armstrong</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>abc6</servlet-name>
  <servlet-class>demoApp.Palindrome</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc6</servlet-name>
  <url-pattern>/palindrome</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
  <servlet-name>abc7</servlet-name>
  <servlet-class>demoApp.ServletMyFirstFormCreation</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc7</servlet-name>
  <url-pattern>/myFirstFormCreation</url-pattern>
  </servlet-mapping>
  
        <servlet>
  <servlet-name>abc8</servlet-name>
  <servlet-class>demoApp.ServletPalindromeString</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>abc8</servlet-name>
  <url-pattern>/palindromeString</url-pattern>
  </servlet-mapping>
  

  
  <context-param><param-name>name</param-name><param-value>Aninda</param-value></context-param>
   <context-param><param-name>location</param-name><param-value>PalaceOfLove</param-value></context-param> 
     <context-param><param-name>invitationType</param-name><param-value>Welcome</param-value></context-param>
     <context-param><param-name>prepositionType</param-name><param-value>To</param-value></context-param>
  

  
</web-app>